@using StudentManagement.Models
@using StudentManagement
@using PagedList.Mvc;
@model PagedList.IPagedList<News>

<div id="ctl00_mainContent_divContent">

        <ul>
            
            @foreach (News news in Model)
           {
              <li><a asp-controller="News" asp-action="ViewNews" asp-route-id="@news.Id">@news.Date - @news.Title<br/></a></li>          
           }
           
        </ul><br/>
        <div class="col-md-12 text-center">
                                <br />
            Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
            <br />
            <br />
            <center>
<nav aria-label="Page navigation example">
                <ul class="pagination">
                    
                    
                    @for (var i = 0; i < Model.PageCount; i++)
                    {
                        <li class="page-item"><a class="page-link" asp-controller="News" asp-action="List" asp-route-page="@(i+1)">@(i+1)</a></li>
                    }
                    
                </ul>
            </nav>
            </center>
            
                            </div>
    </div>
